.title {
  margin-top: 10px;
}

.signin {
  width: 112px;
  margin: 0 auto;
}

.required {
  position: relative;
  top: -1px;
  color: red;
  font-size: 80%;
  margin: 1px;
}

.sample-screenshot {
  width: 340px;
  height: 628px;
  background-image: url(/images/submit.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

input:not([type=submit]):not([type=file]), textarea {
  width: 200px;
}

.slack-logo-inline {
  height: 180px;
  margin: 0 auto;
  vertical-align: middle;
  display: inline;
}

.freudy-logo {
  margin: 50px 0px 0px auto;
  height: 300px;
  float: right;
  opacity: 0.8;
}

.navbar-image {
  float: left;
  height: 50px;
}

.tos p {
  width: 60%;
  float: left;
  display: inline;
  font-family: monospace;
  font-size: 11px;
}

.whitelist {
}
